In [2]:
import pandas as pd
%load_ext autoreload
%autoreload 2
%matplotlib inline
import edhec_risk_kit as erk
import numpy as np
from scipy.optimize import minimize
import matplotlib.pyplot as plt
import collections
import math
import ipywidgets as widgets
import yfinance as yf

In [5]:
# using built in function to load data
ind_1 = erk.get_ind_returns()
ind_nfirms = erk.get_ind_nfirms()
ind_size = erk.get_ind_size()

In [5]:
two_sec = ind_1["2010":][["Fin",'Steel']]
# constructing weight
w = np.array([0.6,0.4])
# annual return
annual_r = erk.annualize_return(two_sec,12)
# annual volitility
annual_v = erk.annual_vol(two_sec,12)
# covariance between the 2
cov = two_sec.cov()
cov

            Fin     Steel
Fin    0.002324  0.002648
Steel  0.002648  0.005356

In [67]:
l1 = ["Games","Fin"]
ar_1 = erk.annualize_return(ind_1['1996':'2000'],12) # annual return
cov_1 = ind_1['1996':'2000'].cov()
ar_1[l1]

Games    0.068212
Fin      0.223371
dtype: float64

In [2]:
def show_plot_ef2(n_points,r1,r2,cov_1,cov_2,cov_12):
    """
    Plots 2 securities frontier and display simulation
    """
    return_s = [r1,r2]
    er = pd.Series(return_s)
  
    # constructing weight from 0 to 1 
    weights = [np.array([w,1-w]) for w in np.linspace(0,1,n_points)]
    # constructing return of porfolio with w from 0 -> 1 
    rets = [erk.portfolio_return(w,er) for w in weights]
    #constructing volitiltity of port with w from 0 -> 1 
    
    vols = [(w[0]**2*cov_1 +w[1]**2*cov_2 + 2*w[0]*w[1]*cov_12) for w in weights] 
    
    frontier = pd.DataFrame({"Return":rets,
                            "Vol":vols})
    return frontier.plot.line(x="Vol",y="Return",style='.-')

In [3]:
controls = widgets.interactive(show_plot_ef2,
                              n_points=(10,40,2),
                              r1=(0.01,1,0.02),
                              r2=(0.01,1,0.02),
                              cov_1=(0.01,0.5,0.01),
                              cov_2=(0.01,0.5,0.01),
                              cov_12=(0.01,0.5,0.01))

In [4]:
display(controls)

interactive(children=(IntSlider(value=24, description='n_points', max=40, min=10, step=2), FloatSlider(value=0…

In [7]:
def bond_p(maturity,principal=1000,coupon_rate=0.1,coupons_per_year=2,interest_rate=np.array([0.1,0.2,0.3])):
    """
    compute bond price with different annual interest rate
    """
    n_coupons = coupons_per_year* maturity
   
    cashflow = (principal * coupon_rate)/coupons_per_year
    new_rate = interest_rate/coupons_per_year
    rate = np.repeat(new_rate,coupons_per_year)
    bond = pd.DataFrame({'rate':rate,
                        'cashflow':np.repeat(cashflow,n_coupons)})
    bond.index = bond.index/2 + 1/coupons_per_year
    bond['pv'] = erk.discount(bond['rate'],bond.index)
    bond['cashflow'].iloc[-1] += principal
    return bond['cashflow'].sum()

In [6]:
bond_p(4,interest_rate=np.array([0.1,0.2,0.1,0.1]))

1400.0

In [7]:
a = pd.Series(data=[5,6,7], index=[1,2,3])
a

1    5
2    6
3    7
dtype: int64

In [8]:
erk.discount(a,0.5)

          0
5  0.131687
6  0.087791
7  0.058528

In [5]:
data = yf.download('SPY',period='15y',interval='1d',proxy= None)['Close']
spy = pd.DataFrame(data)

[*********************100%***********************]  1 of 1 completed

In [6]:
spy

                 Close
Date
2006-05-30  126.099998
2006-05-31  127.510002
2006-06-01  128.729996
2006-06-02  129.000000
2006-06-05  127.120003
...                ...
2021-05-24  419.170013
2021-05-25  418.239990
2021-05-26  419.070007
2021-05-27  419.290009
2021-05-28  420.720001

[3777 rows x 1 columns]